body {
  font-family: Helvetica;
}

.app_wrap {
  display: grid;
  grid-template-areas: 'sidebar ... content content';
  margin: auto;
  width: 500px;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}
