body {
  padding-top: 50px;
  font-family: Helvetica;
  background: #E0F8F7;
}

.app_wrap {
  display: grid;
  grid-template-areas: 'sidebar ... content content';
  margin: auto;
  width: 500px;
}

.sidebar {
  padding-top: 40px;
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.link {
  text-decoration: none;
}
